* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f2;
  height: 100vh;
  width: 100vw;
}

.card {
  background-color: #ffffff;
  border-radius: 1vw;
  height: 30vh;
  width: 30vw;
  overflow: hidden;
  position: relative;
  display: flex;
}

.img1,
.img2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}

.arrow {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(206, 212, 211, 0.5);
  opacity: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf0 {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
  transition-duration: 300;

}

.tf100 {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  transition-duration: 300;

}
